<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company List</title>
    <link rel="stylesheet" th:href="@{/css/company.css}">
</head>
<body>
<h1>Companies</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Company Name</th>
        <th>Users</th>
    </tr>
    <tr th:each="company : ${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.getCompanyName()}"></td>
        <td>
            <table>
                <tr>
                    <th>User Id</th>
                    <th>User Name</th>
                </tr>
                <tr th:each="user : ${company.getUsers()}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<a href="/addCompany" class="btn">Thêm</a>
</body>
</html>
