<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Nhân Viên</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Danh Sách Nhân Viên</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Tên Nhân Viên</th>
        <th>Công Ty</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employe : ${employes}">
        <td th:text="${employe.id}"></td>
        <td th:text="${employe.employeName}"></td>
        <td>
            <ul>
                <li th:each="company : ${employe.companies}" th:text="${company.companyName}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/editEmploye/{id}(id=${employe.id})}">Chỉnh sửa</a> |
            <a th:href="@{/deleteEmploye/{id}(id=${employe.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">Xóa</a>
        </td>
    </tr>
</table>

<a href="/addEmploye">Thêm Nhân Viên</a>
</body>
</html>
